<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>MeetEco</title>
</head>
<body>
   <header class="container-fluid menu-bar">
      <div class="row m-0">
      <!--website logo and navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <a class="navbar-brand" id="logo" href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/MeetEco5.png')}}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('index')}}">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('index')}}#howitworks">How it works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('index')}}#seeEvents">See the events</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="{{url_for('create_event')}}">Create an event </a>
              </li>
            </ul>
            <span class="navbar-text"> </span>
          </div>
        </nav>
      </div>
    </header>    
    
    {%block content%}
    {%endblock%}
    <footer class="page-footer">
            <div class="container">
                <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contact Us</h5>
                    <p class="grey-text text-lighten-4"> email: meeteco@gmail.com </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Navigation</h5>
                    <ul>
                    <li><a class="grey-text text-lighten-3" style="text-align:left;" href="{{url_for('create_event')}}">Start here - Create an Event</a></li>
                    <li><a class="grey-text text-lighten-3" style="text-align:left;" href="{{url_for('index')}}#seeEvents">See the events</a></li>                    
                    </ul>
                </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2020 Copyright OzgeOnel
                <a class="grey-text text-lighten-4 right" href="{{url_for('index')}}">Go to top</a>
                </div>
            </div>
    </footer>
    
<script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
       crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
      <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="https://kit.fontawesome.com/0344a0dddb.js" crossorigin="anonymous"></script>
</body>
</html>