{% extends 'base.html'%}
{% block content %}
<h1>Edit the event</h1>

 <div class="container"> 
      <form class="col s12" action="{{url_for('insert_event')}}"  method="POST" >
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_box</i>
            <input id="organiser_name" type="text" name="organiser_name" data-length="10" value="{{event.organiser_name}}">
            <label for="organiser_name">Organiser Name </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <span style="font-size: 2em; color:#9bae99;" class="prefix">
                <i class="fas fa-leaf"></i>
                </span>
            <input id="event_name" type="text" name="event_name" data-length="10" value="{{event.event_name}}">
            <label for="event_name">Event Name </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">text_snippet</i>
            <textarea id="event_description" name="event_description" class="materialize-textarea" data-length="120" >{{event.event_description}}</textarea>
            <label for="event_description">Event Description</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field s6" id="calendar">
                <i class="material-icons prefix">events</i>
                <input type="text" id="event_date" name="event_name" class="datepicker">  
                <label for="event_date">Event Date</label>          
            </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">location_on</i>
            <input id="event_place" type="text" name="event_place" data-length="10">
            <label for="event_place">Where the event will be hold? </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
          
          <button class="waves-effect waves-light btn" type="submit" name="action">Create Event <i class="material-icons left">add</i> </button>          
           
          </div>
        </div>
      </form>
    or%}
    </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
       crossorigin="anonymous"></script>
       <script type="text/javascript">
        $(document).ready(function(){
            event_date = Date.parse('{{event.event_date}}');
            $('#event_date').
        })
       </script>
{%endblock%}