{% extends 'base.html'%}

{% block content %}
<!--Hero image for landing -->
 <div class="row mx-auto landing">
 <div class="col-6">
    <img  src="{{url_for('static', filename='images/World.jpg')}}" alt="landing image">
    </div>
    <div class="col-6">
    <h1> 
        Create your own event 
    </h1>
    <h1> Gather people for a purpose.</h1>
    <h1> Help the world</h1>
    </div>
    
 </div>
 <!-- Giving the information about the website how it works section-->
<section>
<div class="container">
    <h1></h1>
    <p></p>
</div>

</section>                   
<div class="row mx-auto text-center">
    {% for event in events %}
    
            
            <div class="card col-lg-4">
            
             <!-- this will add picture for every event -->
            <div class="card-image waves-effect waves-block waves-light"> 
                   
            {%for cat in event_categories%}
                {%if cat.event_name == event.event_name%}                    
                    <img class="activator" src="{{url_for('static', filename = cat.event_pic)}}">                   
                {%endif %}
             {% endfor %}

                      
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{event.event_name}}<i class="material-icons right">more_vert</i></span>
            <p><a href="{{url_for('edit_event', event_id= event._id)}}"><i class="material-icons left">create</i> </a></p>
            <!-- put a counter for the people who are interested with the event asking their email address and name
                -->
             <!-- Button trigger modal -->
            <button type="button" class="waves-effect waves-light btn btn-floating btn-large right" data-toggle="modal" data-target="#attender" id="mybutton">
             <i class="material-icons">add_circle_outline</i> Join
            </button>

         
            
        </div>           
            
           
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                <p>
                    {{event.event_description}}  
                </p>
                <p>
                    {{event.event_place}}
                </p> 
                <p>
                    {{event.event_date}}    
                    {{event._id}}                   
                </p>    
                <p id= "guests">
                {{event.guests|length}} people are interested with this event                
                </p>
                {{event._id}}
        </div>
    </div>    
            <!-- Modal -->
            {{event._id}}            
    <div class="modal fade" id="attender" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        {{event._id}}
        <div class="modal-dialog modal-dialog-centered" role="document">                
            <form action="{{url_for('insert_attender', event_id= event._id)}}" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <p>{{event._id}}</p>
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal Title</h5>
                    </div>
                        <!--take attenders details so you can count how many people are interested-->
                    <div class="row mx-auto">                                
                        <input type="text" placeholder="First name" name="fname" id="fname">
                        <input type="text" placeholder="Last Name" name="lname" id="lname">
                        <input type="text" placeholder="Email" name="email" id="email">                            
                                
                    </div>                                                
                        
                    <div class="modal-body">
                            ...
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button name="action" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                        
            </form>
                    
        </div>
    </div>            
    {% endfor %}  
         
     <p>  
     </p>

   
{%endblock%}