
    

{% extends 'base.html'%}

{% block content %}
<!--Hero image for landing -->
 <div class="row mx-auto landing">
 <div class="col-lg-6 col-md-6 d-sm-block d-none">
    <img  src="{{url_for('static', filename='images/World.jpg')}}" alt="landing image">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
    <h2> 
        Create your own event 
    </h2>
    <h2> Gather people for a purpose.</h2>
    <h2> Help the world</h2>
    </div>
    
 </div>
 <!-- Giving the information about the website how it works section-->
<div class=" row m-0 how-it-works" id="howitworks">
    <div class="col-lg-6 col-md-6 col-sm-12" >
        <h3>Do you want to meet people to save the environment?</h3>
        <p> Here there are some events for you if you are interested any event just join</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h3> Are you planing to have your own event? </h3>
        <p> You can use this web application to start your eco event with create an event option.
        You will be ask to fill a form as soon as you click create event you can share your event with world. </p>
        <p>  </p>
    </div>
</div>                   
<div class="row mx-auto text-center" id="seeEvents">
    {% for event in events %}
    
            
        <div class="card sticky-action col-lg-4">
            
             <!-- this will add picture for every event -->
            <div class="card-image waves-effect waves-block waves-light"> 
                   
            {%for cat in event_categories%}
                {%if cat.event_name == event.event_name%}                    
                    <img class="activator" src="{{url_for('static', filename = cat.event_pic)}}">                   
                {%endif %}
            {% endfor %}

                      
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Click for more information<i class="material-icons right">more_vert</i></span>
               
            </div> 
            <div class="card-footer">
                 <button type="button" class="waves-effect waves-light btn-large left" data-toggle="modal" data-target="#editevent{{event._id}}" > Edit This Event<i class="material-icons left d-none d-sm-block">create</i></button>
                <!-- put a counter for the people who are interested with the event asking their email address and name
                    -->
                <!-- Button trigger modal -->
                <button type="button" class="waves-effect waves-light btn-large right" data-toggle="modal" data-target="#attender{{event._id}}" id="mybutton">
                <i class="material-icons left d-none d-sm-block">exposure_plus_1</i> Join The Event
            </button>         
            
            </div>        
           
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"> {{event.event_name}}<i class="material-icons right">close</i></span>
                <p>
                    {{event.event_description}}  
                </p>
                <p>
                    {{event.event_place}}
                </p> 
                <p>
                    {{event.event_date}}    
                                     
                </p>    
                <p id= "guests">
                {{event.guests|length}} people are interested with this event                
                </p>
                
        </div>
    </div>    
            <!-- Modal for getting attender details -->
                        
    <div class="modal fade" id="attender{{event._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    
        <div class="modal-dialog modal-dialog-centered" role="document">                
            <form action="{{url_for('insert_attender', event_id= event._id)}}" method="POST">
                <div class="modal-content">
                    <div class="modal-header">                       
                        <h5 class="modal-title" id="exampleModalLongTitle">{{event.event_name}} - {{event.event_date}}</h5>
                    </div>
                        <!--take attenders details so you can count how many people are interested-->
                    <div class="row mx-auto">                                
                        <input type="text" class="form-control form-valid" placeholder="First name" name="fname" id="fname" required>
                        <input type="text" class="form-control form-valid" placeholder="Last Name" name="lname" id="lname" required>
                        <input type="text" class="form-control form-valid" placeholder="Email" name="email" id="email" required>                            
                                
                    </div>                                                
                        
                    <div class="modal-body">
                           Please provide your details to join this event.
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button name="action" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                        
            </form>
                    
        </div>
    </div> 
    <!--edit button id checking-->
    <div class="modal fade" id="editevent{{event._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">Enter your provided Id number to edit this event
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >

                <form action="{{url_for('edit_event', event_id= event._id)}}" method="POST" id="myform{{event._id}}">
                <div class="form-group">
                    <label for="id-number" class="col-form-label">Id Number:</label>
                    <input type="text" class="form-control" name="id_no" value="{{id_no}}" id="id_no{{event._id}}"   required>                    
                    <button type="submit" name="action" class="btn btn-primary" id="gotoevent{{event._id}}" > Go to event
                    </button>
                    <input type="hidden" id="event_id{{event._id}}" value="{{event._id}}">
                </div>                
                </form>
                <p id="errorMessage{{event._id}}"></p>
            </div>
           
            </div>
        </div>
    </div>    
    <script>
                document.getElementById('gotoevent{{event._id}}').addEventListener('click', function(event){
                console.log('I am working')
                event.preventDefault();
                const id1 = document.getElementById('id_no{{event._id}}').value;
                const id2 = document.getElementById('event_id{{event._id}}').value;
                
                if ( id1 != id2){
                    
                    const result = document.getElementById('errorMessage{{event._id}}').innerHTML = 'Id you enter is wrong. Please try again';  
                    return   result;   
                }
                else
                    {
                        const result = document.getElementById('myform{{event._id}}').submit;
                        return result;
                    }
            });
    
    </script>
           
    {% endfor %}        
    
    
            
{%endblock%}
